@page "/dashboard"
@using FishPortMS.Components.Dashboard.Chart
@inject IJSRuntime JavaScript

<div class="pa-7 pb-10">

    <div class="pb-7 mb-8 mt-n2" style="border-bottom: 1px solid #DAE4F3" data-aos="fade-up">
        <MudText Typo="Typo.h4" Class="mt-3" data-aos="fade-up">DASHBOARD</MudText>
    </div>

    <SalesChart />

</div>