<div class="pb-5 px-5">
    <MudSkeleton Animation="Animation.Wave" Width="20%" Height="37px;" Class="mb-2" Style="border-radius: 7px;" />
    <MudSkeleton Animation="Animation.Wave" Class="my-6" SkeletonType="SkeletonType.Rectangle" Height="400px" Style="border-radius: 15px;" />
    <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="400px" Style="border-radius: 15px;" />
</div>

@code {

}
