<div class="pb-5 px-5">
    <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="400px" Style="border-radius: 15px;" />
    <MudSkeleton Animation="Animation.Wave" Class="my-6" SkeletonType="SkeletonType.Rectangle" Height="40px" Style="border-radius: 12px;" />
    <MudSkeleton Animation="Animation.Wave" Class="" SkeletonType="SkeletonType.Rectangle" Height="100px" Style="border-radius: 12px;" />
</div>

@code {

}
