 <div Class="pt-8 px-5">
    <MudSkeleton Animation="Animation.Wave" Width="25%" Height="37px;" Class="mb-2" Style="border-radius: 7px;" />
    <MudSkeleton Animation="Animation.Wave" Width="35%" Height="25px;" Class="mb-7" Style="border-radius: 7px;" />
    <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="700px" Style="border-radius: 15px;" />
</div>
