body {
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #787E84;
    cursor: pointer;
}

.br-title {
    color: #1D2630;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.8px;
}
