.calendar-container {
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins';
}

.calendar-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.calendar-div {
    background: #fff;
    border-radius: 8px;
    padding-top: 35px;
}

.calendar {
    overflow: auto;
}

.date-change-btn {
    background: #fff;
    background: #57677B;
    color: #fff;
    border-radius: 6px;
    width: 95px;
    padding: 8px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400 !important;
    text-transform: uppercase;
    transition: .3s ease;
}

.date-change-btn:hover {
    background: #000000;
}

.arrow-ico {
    color: #7C8286;
    font-size: 15px;
}

.date-filter-btn {
    font-family: 'Poppins';
    background: #f8f9fa;
    color: #748190;
    border: 1px dashed #bfc4ca;
    font-size: 20px;
    border-radius: 6px;
    transition: .3s ease;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.date-filter-btn:hover {
    background: #4F5C71;
    color: #D7DEE8;
}

.curr-month-text {
    color: #1D2630;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -.3px;
    text-align: center;
    font-weight: 500;
}

.curr-year-text {
    color: #7C8286;
    font-size: 14px;
    letter-spacing: -.2px;
    text-align: center;
    font-weight: 300;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #FFFFFF;
}

.calendar .day-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #747a7e;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    line-height: 50px;
    font-weight: 500;
    font-family: 'Poppins';
}

.calendar .day-number {
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    text-align: right;
    padding: 14px 20px;
    letter-spacing: 1px;
    font-size: 12px;
    box-sizing: border-box;
    color: #747a7e;
    position: relative;
    z-index: 1;
}

.calendar .day-number:nth-of-type(7n + 7) {
    border-right: 0;
}

.calendar .day-number.other-month {
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
}

.calendar .day-number:last-child {
    border-right: none;
}

.contract-mark {
    background: #f1f6ff;
    font-size: 12px;
    font-weight: 400;
    color: #4786FF;
    margin-top: 13px;
    padding: 8px;
    cursor: pointer;
    transition: .3s ease;
    border-left: 4px solid #4786FF;
    text-align: start;
}

.contract-mark:hover {
    background: #4786FF;
    color: #fff;
    border-left: 4px solid #005bff;
}   

.month-filter-div {
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 8px 13px;
}

.month-filter-div .mud-input-control {
    margin-top: 0px !important;
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px;
}

.month-filter {
    width: 250px;
    font-size: 12px !important;
}

@media (max-width: 600px) {
    .calendar-container {
        max-width: 100%;
        padding: 0 10px;
    }

    .curr-month-text {
        font-size: 16px;
    }

    .date-change-btn {
        font-size: 12px;
    }

    .month-filter-div {
        margin-top: 20px;
    }
}
