@attribute [Authorize]

<style>

    .mud-input.mud-input-outlined {
        background: white !important;
        border-radius: 5px !important;
    }

    .mud-input.mud-input-outlined.mud-input-adorned-end {
        background: white !important;
        border-radius: 5px !important;
    }
</style>

    <div class="px-sm-3 mt-n4">
        <HeaderInfos title="CHANGE PASSWORD" icon="@Icons.Material.Filled.Edit" />
    </div>
    <ChangePass />

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = new MudDialogInstance();
    void Cancel() => MudDialog.Cancel();
}
