<div Class="mt-5 mb-2">
    <MudText Typo="Typo.overline" Class="side-label py-1 px-2">
        @Title
    </MudText>
</div>

@code {

    [Parameter] public string Title { get; set; } = string.Empty;
}