<style>
	.chart-container{
		background: white;
		border-radius: 8px;
		box-shadow: 0 12px 25px rgba(0,0,0,.04);
	}
</style>

<MudGrid>
	<MudItem xs="12" lg="7" xl="8">
		<div class="chart-container px-7 py-7 mt-2" data-aos="fade-up" style="height: 100%!important;">
			<div class="d-flex">
				<MudText Typo="Typo.h4" Style="font-size: 15px!important;">NET SALES CHART</MudText>
			</div>
			<div class="mt-6 mb-4" style="border-bottom: 1px solid #DAE4F3" />
			<MudChart ChartType="ChartType.Line" ChartOptions="options" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="400px" />

		</div>
	</MudItem>
</MudGrid>


@code {
	private int Index = -1;
	int dataSize = 4;
	public double[] data = { 50, 25, 20, 5 };
	private ChartOptions options = new ChartOptions
	{
		InterpolationOption = InterpolationOption.NaturalSpline
	};

	public List<ChartSeries> Series = new List<ChartSeries>()
	{
		new ChartSeries() { Name = "Yesterday", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 }, LineDisplayType = LineDisplayType.Area },
		new ChartSeries() { Name = "Today", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 }, LineDisplayType = LineDisplayType.Area },
	};
	public string[] XAxisLabels = { "01:00", "03:00", "05:00", "07:00", "09:00", "11:00", "13:00", "15:00", "17:00", "019:00", "21:00", "23:00" };

	public string[] labels = { "Petty Cash", "Allowance", "Transportation", "Gas" };

}